* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.section1 {
    min-height: 100vh;

    &__frame1 {
        position: relative;

        h2 {
            position: absolute;
            text-align: center;
        }

        #frog {
            position: absolute;
            width: 10vw;
            left: 35vw;
            top: 15vw;
            z-index: 1;
        }

        .pond-leaf {
            position: absolute;
            width: 10vw;
            left: 33vw;
            top: 23vw;
        }
    }

    /*&__frame2 {

    }*/

    &__frame3 {
        img.pond {
            position: absolute;
            z-index: -1;
            width: 40vw;
        }
    }

    /* &__frame4 {

    }*/
}

.section2 {
    &__frame1 {
        height: 100vh;
        position: relative;

        &__heading {
            font-family: sans-serif;
            font-size: 2.5vw;
            letter-spacing: 0.1vw;
            position: absolute;
            top: 2vw;
            right: 2vw;
            z-index: 3;
        }

        .pond {
            width: 45vw;
            position: absolute;
            left: 10vw;
            top: 15vw;
            z-index: -1;
        }

        .pond-leaf {
            max-width: 12vw;
            position: absolute;
            left: 20vw;
            top: 24vw;
            z-index: 0;
        }

        .road {
            height: 100vh;
            position: absolute;
            z-index: 2;
        }

        .frog {
            width: 10vw;
            position: absolute;
            left: 21vw;
            top: 21vw;
            z-index: 3;
            opacity: 0;
        }
    }
}
// ANIMATIONS

.animate-on-scroll-frog {
    animation: enter 1s 4s, bounce 1s 7s, escape 0.5s 7s;
    animation-fill-mode: forwards;
}

@keyframes enter {
    0% {
        transform: translateX(-200%);
        opacity: 0;
    }

    5% {
        opacity: 1;
    }
    60% {
        transform: translateX(-50%) translateY(-100%);
        opacity: 1;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
    5% {
        transform: translateY(-80%);
        opacity: 1;
    }
    15% {
        transform: translate(0%);
        opacity: 1;
    }
}

@keyframes escape {
    70% {
        transform: translateY(-150%) translateX(30vw);
        opacity: 1;
    }
    100% {
        transform: translateX(50vw);
        opacity: 1;
    }
}

// .animate-on-scroll-frog {
//     opacity: 0;
//     animation: enter, bounce, escape;
//     animation-duration: 0.5s, 1s, 0.5s;
//     animation-delay: 3s, 5s, 7s;
//     animation-fill-mode: forwards;
// }

// @keyframes enter {
//     0% {
//         transform: translateX(-200%);
//     }

//     60% {
//         transform: translateX(-50%) translateY(-100%);
//     }

//     100% {
//         transform: translate(0);
//     }
// }

// @keyframes bounce {
//     0%,
//     100% {
//         transform: translateY(0%);
//     }
//     5% {
//         transform: translateY(-80%);
//     }
//     15% {
//         transform: translate(0%);
//     }
// }

// @keyframes escape {
//     50% {
//         transform: translateY(-150%) translateX(30vw);
//     }

//     100% {
//         transform: translateX(50vw);
//     }
// }

.animate-on-scroll-heading {
    opacity: 0;
    animation: heading;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes heading {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animate-on-scroll-pond {
    opacity: 0;
    animation: sucked-in;
    animation-duration: 8s;
    animation-delay: 1;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.animate-on-scroll-leaf {
    opacity: 0;
    animation: sucked-in;
    animation-duration: 7s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes sucked-in {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

.animate-on-scroll-road {
    opacity: 0;
    animation: road;
    animation-duration: 4s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
}

@keyframes road {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animate {
    opacity: 1;
}

.emphasized-text {
    font-weight: bold;
    color: rgb(235, 94, 94);
    text-shadow: 2px 2px 2px gray;
    font-style: normal;
}

// &__frame2 {
// }

// &__frame3 {
// }

// &__frame4 {
// }

// TORIL

.grass-container {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 50vh; // Adjust the height as needed
    background-color: rgb(129, 127, 8); // Initial color
}

.section3 {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure full viewport height */
    background-color: skyblue;
    color: rgb(68, 67, 67);
    font-size: 20px;
    &__grass-container {
        position: sticky;
        bottom: 0;
        width: 100%;
        height: 50vh; // Adjust the height as needed
        background-color: rgb(129, 127, 8); // Initial color
        &__frog {
            display: inline-block;
            position: absolute;
            width: 200px;
            height: auto;
            top: 40px;
            left: 700px;

            // @mixin warning-box {
            //     visibility: visible;
            // }

            // &:hover {
            //     transform: translateX(200px);
            //     @include warning-box;
            // }

            &:hover {
                transform: translateX(200px); /* Move frog 100px to the right on hover */

                + .warning-box {
                    visibility: visible; /* Show warning box when frog is hovered over */
                }
            }
        }
    }
    &__house {
        display: inline-block;
        position: sticky;
        bottom: 465px;
        z-index: 1;
    }
}

.warning-box {
    position: absolute;
    top: -150px; /* Adjust distance from frog */
    left: 1000px;
    background-color: rgba(255, 0, 0, 0.8); /* Red with transparency */
    color: white;
    padding: 10px;
    border-radius: 5px;
    visibility: hidden; /* Initially hidden */
    transition: visibility 0.3s ease; /* Add transition for smooth appearance */
}

.action-button {
    display: none;
    position: fixed;
    bottom: 700px;
    right: 150px;
    background-color: rgb(219, 139, 41);
    padding: 20px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.action-button.show {
    display: block;
}

.section3__text1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.section3__text2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.section3__text3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
// TORIL
