* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.section1 {
    min-height: 100vh;

    &__frame1 {
        position: relative;

        h2 {
            position: absolute;
            text-align: center;
        }

        #frog {
            position: absolute;
            width: 25vw;
            left: 35vw;
            top: 15vw;
            z-index: 1;
        }

        .pond-leaf {
            position: absolute;
            width: 29vw;
            left: 33vw;
            top: 23vw;
        }
    }

     /*&__frame2 {

    }*/

     &__frame3 {

        img.pond {
            position:absolute;
            z-index: -1;
        }

    }

    /* &__frame4 {

    }*/
}

.section2 {
    &__frame1 {
        height: 100vh;
        position: relative;

        &__heading {
            font-family: sans-serif;
            font-size: 2.5vw;
            letter-spacing: 0.1vw;
            position: absolute;
            right: 5vw;
            padding-top: 5%;
            z-index: 5;
        }

        .pond {
            width: 45vw;
            position: absolute;
            left: 10vw;
            top: 15vw;
            z-index: -1;
            animation: sucked-in 1s forwards;
            animation-delay: 4s;
            animation-iteration-count: 1;
        }

        .pond-leaf {
            max-width: 12vw;
            position: absolute;
            left: 20vw;
            top: 24vw;
            z-index: 0;
            animation: sucked-in 0.5 forwards;
            animation-delay: 4s;
            animation-iteration-count: 1;
        }

        @keyframes sucked-in {
            0% {
                transform: scale(1);
            }

            100% {
                transform: scale(0);
            }
        }

        .road {
            height: 100vh;
            position: absolute;
            left: 2vw;
            z-index: 2;
        }

        .frog {
            max-width: 10%;
            position: absolute;
            top: 15vw;
           
            left: 21vw;
            top: 21vw;
            z-index: 3;
            animation:
                bounce 1.5s,
                escape 1s forwards;
            animation-delay: 0.5s, 4s;
        }

        @keyframes bounce {
            0%,
            100% {
                transform: translateY(0%);
            }
            5% {
                transform: translateY(-80%);
            }
            15% {
                transform: translate(0%);
            }
        }

        @keyframes escape {
            50% {
                transform: translateY(-80%) translateX(30vw);
            }

            100% {
                transform: translateX(50vw);
            }
        }
    }

    // ANIMATIONS

    .animate-on-scroll-heading {
        opacity: 0;
        transform: translateX(0);
        transition: 1s;
        transition-delay: 0s;
    }

    .animate-on-scroll-pond {
        opacity: 0;
        transform: translate(0);
        transition: 1.5s;
        transition-delay: 0.5s;
    }

    .animate-on-scroll-leaf {
        opacity: 0;
        transform: translate(0);
        transition: 1.5s;
        transition-delay: 0.5s;
    }

    .animate-on-scroll-road {
        opacity: 0;
        transform: translate(0);
        transition: 1.5s;
        transition-delay: 2s;
    }

    .animate {
        opacity: 1;
        transform: translateX(0);
    }

    .emphasized-text {
        font-weight: bold;
        color: rgb(235, 94, 94);
        text-shadow: 2px 2px 2px gray;
        font-style: normal;
    }

    &__frame2 {
    }

    &__frame3 {
    }

    &__frame4 {
    }
}

// TORIL

.grass-container {
    position: fixed;
    bottom: 0;
    height: 500px;
    width: 100%;
    background-color: rgb(129, 127, 8); /* Initial color */
}

.section3 {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure full viewport height */
    background-color: skyblue;
    color: rgb(68, 67, 67);
    font-size: 20px;
    &__frog {
        display: inline-block;
        position: fixed;
        width: 200px;
        height: auto;
        top: 400px;
        left: 700px;

        // @mixin warning-box {
        //     visibility: visible;
        // }
        
        // &:hover {
        //     transform: translateX(200px);
        //     @include warning-box;
        // }

        // &:hover {
        //     transform: translateX(200px); /* Move frog 100px to the right on hover */

        //     .warning-box {
        //         visibility: visible; /* Show warning box when frog is hovered over */
        //     }
        // }
    }
    &__grass-container {
        position: relative;
        width: 100%;
        height: 400px;
        background-color: rgb(129, 127, 8); //Initial color
    }
    &__house {
        display: inline-block;
        position: fixed;
        top: 0px;
    }
}

.warning-box {
    position: absolute;
    top: -150px; /* Adjust distance from frog */
    left: 1000px;
    background-color: rgba(255, 0, 0, 0.8); /* Red with transparency */
    color: white;
    padding: 10px;
    border-radius: 5px;
    visibility: hidden; /* Initially hidden */
    transition: visibility 0.3s ease; /* Add transition for smooth appearance */
}

.action-button {
    display: none;
    position: fixed;
    bottom: 750px;
    right: 300px;
    background-color: rgb(219, 139, 41);
    padding: 20px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.action-button.show {
    display: block;
}

.section3__text1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.section3__text2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.section3__text3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
// TORIL
