.section1 {
    &__frame1 {
    }

    &__frame2 {
    }

    &__frame3 {
    }

    &__frame4 {
    }
}

.section2 {
    &__frame1 {
    }

    &__frame2 {
    }

    &__frame3 {
    }

    &__frame4 {
    }
}

.section3 {
    &__frame1 {
    }

    &__frame2 {
    }

    &__frame3 {
    }

    &__frame4 {
    }
}
